.philosophy-card {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 12px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.philosophy-card h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.resume {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
  margin-bottom: 0px;
  line-height: 1.6;
}

.tag {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #eee;
}